
.Navbar{
    display: flex;
    position: sticky;
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 2000;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}